*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color:#FF490F;
    position: sticky;
    top: 0;
}
header .container, section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

p{
    margin-top: 15px;
}
header .container{
    align-items: flex-end;
    padding-bottom: 10px;
}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 15px;
    
}
header nav li a{
    color: aliceblue;
    text-decoration: none;
    margin-left: 10px;
    font-family: 'Old Standard TT', serif;
    font-size: 20px;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Old Standard TT', serif;
    color: white;
    
}
.logo img{
    width: 35%;
    align-self: center;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.pic_about{
    margin-right: 3%;
    border-radius: 35px;
    height: 100%;
    max-width: 50%;
}

section {
    padding-top: 3%;
}

section h2{
    margin: 0 0 10px 0;
}
section .container{
    align-items: flex-start;
}

.brand-list{
    display: flex;
}
.brand-list li{
    display: inline;
    margin-right: 10px;
}


.brand-list img ul{
    height: 90px;
    margin-top: 100px;
}

#acomodacao .container img{
    margin-left: 3%;
}

.social-link li a img{
    height: 25px;
}

.social-link li{
    display: inline;
    margin-right: 10px;
}

.social-link li a {
    text-decoration: none;
}

#contact .container{
    display: block;
    margin-bottom: 50px;
}

.contact-methods{
    display: flex;
    justify-content: space-between;
}

form input, textarea, button{
    display: block;
    width: 100%;
    margin-bottom: 2%;
    padding: 2%;
}

form textarea{
    resize: none;
}

section h3{
    margin-bottom: 8%;
}
form button{
    background-color:#36FFCC;
    color: #FF490F;
    font-weight: bold;
    font-size: larger;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: #84f0d5;
}

input:focus, textarea:focus{
    outline-color: #36FFCC;
}

h2{
    color: #5C03FF;
    font-size: 40px;
    text-decoration: overline;
}

footer{
    background-color: #FF490F;
    height: 100px;
    color: white;
    
}

footer .container{
    display: flex;
    justify-content: center;
}

